<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<gazebo reference="upbase_link">
  	<sensor name='imu_sensor' type='imu'>"
    	<gz_frame_id>robot/upbase_link</gz_frame_id>
    	<visualize>true</visualize>
      <always_on>true</always_on>
      <update_rate>30</update_rate>
      <topic>imu</topic>
  	</sensor>
	</gazebo>
</robot>
